.main {
  background: #f5f5f5;

  position: relative;
  width: 1440px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 1000px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 380px;
  right: 60px;
}
.headerRight {
  display: flex;
  gap: 30px;
  align-items: center;
}
.dashboard {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
.searchbox {
  height: 30px;
  width: 180px;
  background: #ffffff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 12px;
}
.input {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #b0b0b0;
  border: transparent;
  display: flex;
}
.input:focus {
  outline: none;
}
.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 10;
  background-color: #b0b0b0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 280px;
  height: 900px;
  background: #000000;
  border-radius: 30px;

  position: absolute;
  left: 40px;
  right: 0%;
  top: 40px;
  bottom: 40px;
}
.board {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
  margin-top: 60px;
  margin-left: 50px;
}
.tiles {
  width: 1000px;
  height: 120px;

  position: absolute;
  top: 130px;
  left: 380px;
  right: 60px;
}
.activitiesCard {
  width: 1000px;
  height: 359px;
  background: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: 290px;
  left: 380px;
}
.p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  position: absolute;
  top: 30px;
  left: 40px;
}
.month {
  display: flex;
  align-items: center;
  position: absolute;
  top: 57px;
  left: 40px;
}
.p1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
  margin-right: 5px;
}
.additionalCard {
  width: 1000px;
  height: 256px;

  border-radius: 20px;
  position: absolute;
  top: 689px;
  left: 380px;
}
.additionalCard1 {
  position: absolute;
  top: 689px;
  left: 900px;
}
